* {
    padding: 0;
    margin: 0;
}

.site {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    color: #283136;
    font-weight: 400;
    line-height: 24px;
}

button {
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}

header {
    background-color: #eeeeee;
}

.container {
    max-width: 1160px;
    width: 80%;
    margin: 0 auto;
}

nav input {
    display: none;
}

.header_nav {
    display: flex;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 35px;
}

.header_logo {
    margin-right: auto;
}

.nav_items {
    display: flex;
    list-style: none;
}

.nav_item:not(:last-child) {
    padding-right: 45px;
}

.nav_item a,
.nav_basket .basket_link {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.nav_basket {
    margin-left: auto;
}

.nav_basket button img {
    margin-right: 25px;
}

.nav_basket button {
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.promo_slider {
    display: flex;
    align-items: center;
}

.promo_title {
    font-size: 55px;
    margin-bottom: 25px;
}

.promo_description {
    margin-bottom: 45px;
}

.promo_text button {
    padding: 15px 55px;
    background-color: #fd5559;
}

.adv_items {
    display: flex;
    justify-content: flex-start;
    padding: 80px 0;
    border-bottom: 2px solid #eeeeee;
}

.adv_item {
    margin-right: 100px;
}

.adv_title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin: 25px 0;
}

.adv_item button {
    margin-top: 40px;
    padding: 15px 40px;
}

.red {
    background-color: #fd5559;
}

.green {
    background-color: #00c973;
}

.yellow {
    background-color: #efc749;
}

.st_items {
    display: flex;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 78px;
}

.st_item_1 {
    margin-top: 70px;
}

.st_title {
    font-weight: 500;
    font-size: 45px;
    width: 85%;
    padding-bottom: 37px;
}

.st_description {
    width: 85%;
    padding-bottom: 45px;
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
}

.st_item_1 h4 {
    padding-bottom: 35px;
}

.st_item_2 {
    margin-top: 40px;
}

.st_item_2 h4 {
    padding-top: 50px;
    padding-bottom: 35px;
}

.proc {
    display: flex;
    flex-direction: row;
}

.st_list p:not(:last-child) {
    padding-bottom: 25px;
}

.st_list p::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fb5559;
    margin-right: 11px;
    vertical-align: middle;
}

.proc_item {
    font-weight: 700;
    font-size: 45px;
    padding-right: 25px;
    padding-bottom: 27px;
}

.proc_item sup {
    vertical-align: top;
}

.brands {
    padding: 45px 0;
    border-bottom: 2px solid #eeeeee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    
}

.brand {
    position: relative;
}

.brand:not(:last-child)::after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    margin: 0 50px;
}

.brand:nth-child(1)::after {
    position: relative;
    top: -10px;
}

.brand:nth-child(2)::after {
    position: relative;
    top: -25px;
}

.brand:nth-child(3)::after {
    position: relative;
    top: -10px;
}

.map {
    margin-bottom: 65px;
    position: relative;
}

.map iframe {
    width: 100%;
    height: 415px;
}

.map_info {
    width: 320px;
    height: 308px;
    position: absolute;
    left: 140px;
    top: 55px;
    background-color: #ffffff;
}

.map_wrapper {
    padding: 48px;
}

.map_title {
    padding-bottom: 30px;
}

.map_address {
    padding-bottom: 20px;
}

.map_phone {
    padding-bottom: 38px;
}

.map_wrapper button {
    padding: 17px 45px;
    background-color: #fd5559;
}

.footer_wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80px;
}

.footer_icons i {
    color: #ffffff;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-vk {
    padding: 29px 29px;
}

.fa-facebook {
    padding: 28px 33px;
}

.fa-instagram {
    padding: 28px 28px;
}

.footer_title {
    font-size: 36px;
    padding-bottom: 10px;
}